body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("fondobody.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

#fondo-boss{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    height: 687px;
    background-image: url("fondo-boss.gif");
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    z-index: 0;
    position: absolute;
    border: 5px solid gold;
}



.encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 5%;
}

.returnhome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    background-size: cover;
    overflow: hidden;
    border-radius: 45%;
    background-image: url("maderaestropeada.avif");

}

.returnhome p{
    font-size: large;
    font-weight: 400;
    font-family:fantasy; 
}

.dinero{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6%;
    overflow: hidden;
    margin-top: 5%;
}
.dinero p{
    font-size: large;
    font-family: fantasy;
    font-weight: 300;
}

.oro{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    width: 45%;
    height: 90%;
    overflow: hidden;
    border-radius: 40%;
}

.gemas{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    width: 45%;
    height: 90%;
    overflow: hidden;
    border-radius: 40%;
}

#barra-vida{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: orange;
    width: 80%;
    height: 6%;
    overflow: hidden;
    border-radius: 40%;
    margin-top: 5%;
}

#salud{
    width: 80%;
    height: 20%;
    background-color: red;
    padding: 0;
    margin-right: 10%;
}

#boss{
    width: 90%;
    height: 65%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    lighting-color: aliceblue;
    filter: drop-shadow(10px 7px 10px orange);
    }

    .multiplicadores{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
        margin-bottom: 2%;
        overflow: hidden;
        margin-bottom: 5px;
    }
    .mult-daño{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 90%;
        overflow: hidden;
        border-radius: 40%;
        flex-direction: column;

    }
    .mult-daño p{
        font-size: xx-large;
        font-weight: 800;
        color: red;
        margin: 0;
    }
    
    .mult-puntos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 90%;
        overflow: hidden;
        border-radius: 40%;
        flex-direction: column;

    }
    .mult-puntos p{
        font-size: xx-large;
        font-weight: 800;
        color: white;
        margin: 0;
    }

